[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
package = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-cov = "*"
yapf = "*"
docformatter = "*"
pdoc3 = "*"
pytest-pylint = "*"

[requires]
python_version = "3.8"
